
extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.d-block
          h5.card-header.text-center= t('Account update')
          .card-body
            .card-text
              p= t('You have successfully updated your account:')
              ul
                each field in accountUpdates
                  if field.name === config.passport.fields.otpEnabled
                    li= t(`Two-factor authentication has been ${field.current ? 'enabled' : 'disabled'}.`)
                  else if field.name === config.userFields.apiToken
                    li= t('API token has been reset.')
                  else
                    li= t(`${field.text} has changed from ${field.previous} to ${field.current}`)
          .card-footer.text-center: small.text-muted= t('If you did not make these changes, then please contact us immediately.')
