
nav.navbar.navbar-expand-md.fixed-top.navbar-dark.bg-dark
  button.navbar-toggler.navbar-toggler-right.bg-dark.hidden-lg-up(type="button", data-toggle="collapse", data-target="#navbar-header", aria-controls="navbar-header", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  a.navbar-brand(href=`/${locale}`)= config.appName
  #navbar-header.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a(href=`/${locale}/about`).nav-link= t('About')
      li.nav-item.dropdown
        a#navbar-dropdown-more-links.nav-link.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
          i.fa.fa-fw.fa-life-ring
          = ' '
          = t('Help')
        ul.dropdown-menu(aria-labelledby="navbar-dropdown-more-links")
          li
            a.dropdown-item(target="_blank", href="http://slack.crocodilejs.com")
              i.fa.fa-fw.fa-slack
              = ' '
              = t('Chat')
          li
            a.dropdown-item(target="_blank", href="https://ladjs.github.io/lad")
              i.fa.fa-fw.fa-book
              = ' '
              = t('Docs')
          li
            a.dropdown-item(target="_blank", href="https://github.com/ladjs/lad")
              i.fa.fa-fw.fa-github
              = ' '
              = t('GitHub')
          li
            a.dropdown-item(target="_blank", href="https://twitter.com/niftylettuce")
              i.fa.fa-fw.fa-twitter
              = ' '
              = t('Twitter')
          li
            a.dropdown-item(href=`/${locale}/contact`)
              i.fa.fa-fw.fa-envelope
              = ' '
              = t('Contact')
      li.nav-item.dropdown
        a#navbar-dropdown-language.nav-link.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
          i.fa.fa-fw.fa-language
          = ' '
          = s.titleize(t(currentLanguage))
        ul.dropdown-menu(aria-labelledby="navbar-dropdown-language")
          each language in availableLanguages
            if language.locale !== locale
              li: a.dropdown-item(href=language.url)= s.titleize(t(language.name))
      //- links that show only if you're logged in
      if user
        li.nav-item.dropdown
          a#navbar-dropdown-my-account.nav-link.dropdown-toggle(href=`/${locale }/my-account`, role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
            i.fa.fa-fw.fa-user
            = ' '
            = t('Account')
          ul.dropdown-menu.dropdown-menu-right(aria-labelledby="navbar-dropdown-my-account")
            li
              a.dropdown-item(href=`/${locale}/my-account`)
                i.fa.fa-fw.fa-gears
                = ' '
                = t('My Account')
            //- links that show if you're an admin
            if user.group === 'admin'
              li
                a.dropdown-item(href=`/${locale}/admin`)
                  i.fa.fa-fw.fa-user-secret
                  = ' '
                  = t('Admin')
            li
              a.dropdown-item(href=`/${locale}/logout`)
                i.fa.fa-fw.fa-sign-out
                = ' '
                = t('Log out')
      //- links that show only if you're logged out
      else
        li.nav-item
          a.nav-link(href=`/${locale}/login`)
            i.fa.fa-fw.fa-sign-in
            = ' '
            = t('Log in')
        li.nav-item
          a.nav-link(href=`/${locale}/signup`)
            i.fa.fa-fw.fa-user-plus
            = ' '
            = t('Sign up')
