mixin registerOrLogin(verb, isModal = false)
  .container(class=isModal ? '' : 'py-3')
    if !isModal
      .text-center
        h1.my-3.py-3
          = t(`${humanize(verb)} now`)
          = ' '
          if verb === 'sign up'
            = emoji('sparkles')
          else
            = emoji('wave')
    div(class=isModal ? '' : 'col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3')
      if boolean(process.env.AUTH_GOOGLE_ENABLED)
        a.btn-auth.btn-auth-google.btn-auth-google-dark.my-3(href='/auth/google', role="button")
          .btn-auth-wrapper
            span.btn-auth-icon
            span.btn-auth-text= t(`${humanize(verb)} with Google`)
        //-.
          a.btn-auth.btn-auth-google.btn-auth-google-light.my-3(href='/auth/google', role="button")
            .btn-auth-wrapper
              span.btn-auth-icon
              span.btn-auth-text= t(`${humanize(verb)} with Google`)
      if boolean(process.env.AUTH_GITHUB_ENABLED)
        a.btn-auth.btn-auth-github.btn-auth-github-dark.my-3(href='/auth/github', role="button")
          .btn-auth-wrapper
            span.btn-auth-icon
            span.btn-auth-text= t(`${humanize(verb)} with GitHub`)
        //-.
          a.btn-auth.btn-auth-github.btn-auth-github-light.my-3(href='/auth/github', role="button")
            .btn-auth-wrapper
              span.btn-auth-icon
              span.btn-auth-text= t(`${humanize(verb)} with GitHub`)
      if boolean(process.env.AUTH_GOOGLE_ENABLED) || boolean(process.env.AUTH_GITHUB_ENABLED)
        .hr-text.d-flex.text-secondary.align-items-center= t('or')
      - const action = verb === 'sign up' ? '/register' : config.loginRoute
      form.ajax-form(action=l(action), method='POST')
        input(type="hidden", name="_csrf", value=ctx.csrf)
        .form-group.floating-label
          input.form-control.form-control-lg(id=`input-email-${dashify(verb)}`, type="email", required, name="email", placeholder="name@example.com", autocomplete='email')
          label(for=`input-email-${dashify(verb)}`)= t('Email address')
        .form-group.floating-label
          input.form-control.form-control-lg(id=`input-password-${dashify(verb)}`, type="password", required, name="password", placeholder=" ", autocomplete=verb === 'sign up' ? 'off' : 'current-password')
          label(for=`input-password-${dashify(verb)}`)= t('Password')
        if verb === 'sign in'
          .form-group
            small.form-text.text-right: a(href=l('/forgot-password')).text-secondary= t('Forget your password?')
        button.btn.btn-success.btn-lg.btn-block(type="submit")= t(titleize(verb))
      .alert.alert-warning.mt-3.text-center(class=isModal ? 'mb-0' : '')
        - const isRegisterOrLogin = ['/register', config.loginRoute].includes(ctx.pathWithoutLocale)
        ul.list-inline.mb-0
          if verb === 'sign up'
            li.list-inline-item!= t('Have an account?')
            li.list-inline-item
              a(href=l(config.loginRoute), data-dismiss-modal=isRegisterOrLogin ? false : 'true', data-toggle=isRegisterOrLogin ? '' : 'modal-anchor', data-target=isRegisterOrLogin ? '' : '#modal-sign-in').alert-link= t('Sign in')
          else
            li.list-inline-item!= t("Don't have an account?")
            li.list-inline-item
              a(href=l('/register'), data-dismiss-modal=isRegisterOrLogin ? false : 'true', data-toggle=isRegisterOrLogin ? '' : 'modal-anchor', data-target=isRegisterOrLogin ? '' : '#modal-sign-up').alert-link= t('Sign up')
      if verb === 'sign up'
        p.mt-3.mb-1.text-center: small.text-black-50!= t('Read our <a href="%s" target="_blank" rel="noopener">Privacy Policy</a> and <a href="%s" target="_blank" rel="noopener">Terms</a>', l('/privacy'), l('/terms'))
