mixin registerOrLogin(verb, isModal = false)
  .container(class=isModal ? '' : 'py-3')
    if !isModal
      .text-center
        h1.my-3.py-3
          = t(`${humanize(verb)} now`)
          = ' '
          if verb === 'sign up'
            = emoji('sparkles')
          else
            = emoji('wave')
    div(class=isModal ? '' : 'col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3')
      if boolean(process.env.AUTH_GOOGLE_ENABLED)
        a.btn-auth.btn-auth-google.btn-auth-google-dark.my-3(href='/auth/google', role="button")
          .btn-auth-wrapper
            span.btn-auth-icon
            span.btn-auth-text= t(`${humanize(verb)} with Google`)
        //-.
          a.btn-auth.btn-auth-google.btn-auth-google-light.my-3(href='/auth/google', role="button")
            .btn-auth-wrapper
              span.btn-auth-icon
              span.btn-auth-text= t(`${humanize(verb)} with Google`)
      if boolean(process.env.AUTH_GITHUB_ENABLED)
        a.btn-auth.btn-auth-github.btn-auth-github-dark.my-3(href='/auth/github', role="button")
          .btn-auth-wrapper
            span.btn-auth-icon
            span.btn-auth-text= t(`${humanize(verb)} with GitHub`)
        //-.
          a.btn-auth.btn-auth-github.btn-auth-github-light.my-3(href='/auth/github', role="button")
            .btn-auth-wrapper
              span.btn-auth-icon
              span.btn-auth-text= t(`${humanize(verb)} with GitHub`)
      if boolean(process.env.AUTH_GOOGLE_ENABLED) || boolean(process.env.AUTH_GITHUB_ENABLED)
        .hr-text.d-flex.text-secondary.align-items-center= t('or')
      - const action = verb === 'sign up' ? '/register' : '/login'
      form.ajax-form(action=ctx.session.redirectTo ? l(action) : `${l(action)}?redirect_to=${l(config.passportCallbackOptions.successReturnToOrRedirect)}`, method="POST")
        input(type="hidden", name="_csrf", value=ctx.csrf)
        .form-group.floating-label
          input#input-email.form-control.form-control-lg(type="email", required, name="email", placeholder="name@example.com")
          label(for="input-email")= t('Email address')
        .form-group.floating-label
          input#input-password.form-control.form-control-lg(type="password", required, name="password", placeholder=" ")
          label(for="input-password")= t('Password')
        if verb === 'sign in'
          .form-group
            small.form-text.text-right: a(href=l('/forgot-password')).text-secondary= t('Forget your password?')
        button.btn.btn-success.btn-lg.btn-block(type="submit")= t(titleize(verb))
      .alert.alert-light.border.mt-3.text-center(class=isModal ? 'mb-0' : '')
        - const isRegisterOrLogin = ['/register', '/login'].includes(ctx.pathWithoutLocale)
        if verb === 'sign up'
          != t('Already have an account?')
          = ' '
          a(href=l('/login'), data-dismiss-modal=isRegisterOrLogin ? false : 'true', data-toggle=isRegisterOrLogin ? '' : 'modal-anchor', data-target=isRegisterOrLogin ? '' : '#modal-sign-in').card-link= t('Sign in')
        else
          != t("Don't have an account?")
          = ' '
          a(href=l('/register'), data-dismiss-modal=isRegisterOrLogin ? false : 'true', data-toggle=isRegisterOrLogin ? '' : 'modal-anchor', data-target=isRegisterOrLogin ? '' : '#modal-sign-up').card-link= t('Sign up')
