
extends layout

block body
  .container.py-3
    .text-center: h1.my-3.py-3= t('Change Your Email')
    .row
      .col-sm-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
        .alert.alert-warning.text-center.mb-4!= t('From <strong>%s</strong> to <strong>%s</strong>.', user[config.passportLocalMongoose.usernameField], user[config.userFields.changeEmailNewAddress])
        form.ajax-form.confirm-prompt(action=ctx.path, method="POST")
          input#input-email(type="hidden", name="email", value=user[config.passportLocalMongoose.usernameField])
          .form-group.floating-label
            input#input-password.form-control.form-control-lg(type="password", autocomplete="confirm-password", name="password", placeholder=" ")
            label(for="input-password")= t('Confirm password')
          button.btn.btn-success.btn-block.btn-lg(type="submit")= t('Continue')
