
extends layout

block body
  .container.py-3
    .row
      .col-xs-12.col-sm-12.col-md-6.offset-md-3.col-lg-6.offset-lg-3
        .card
          .card-body
            .text-center
              h1.card-title.h4= t('Forgot Password')
              p= t('Enter your email to reset your password.')
            form.ajax-form(action=ctx.path, method="POST", autocomplete="off")
              input(type="hidden", name="_csrf", value=ctx.csrf)
              .form-group
                input#input-email.form-control.form-control-lg(type="email", autocomplete="off", name="email", placeholder=t('Email address'))
              button.btn.btn-primary.btn-block.btn-lg(type="submit")= t('Send Password Reset Link')
          .card-footer.text-center
            = t('Remember your password?')
            = ' '
            a.card-link(href=l('/login'))= t('Log in now')
