
extends layout

block body
  .container.py-3
    .text-center: h1.my-3.py-3= t('Reset Password')
    .row
      .col-sm-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
        .alert.alert-primary.text-center.mb-4= t('Confirm your email address and set a new password.')
        form.ajax-form.confirm-prompt(action=ctx.path, method="POST")
          .form-group.floating-label
            input#input-email.form-control.form-control-lg(type="email", autofocus, autocomplete="email", name="email", placeholder='name@example.com')
            label(for="input-email")= t('Email address')
          .form-group.floating-label
            input#input-password.form-control.form-control-lg(type="password", autocomplete="new-password", name="password", placeholder=" ")
            label(for="input-password")= t('New password')
          button.btn.btn-success.btn-block.btn-lg(type="submit")= t('Continue')
        .alert.alert-warning.mt-3.text-center
          ul.list-inline.mb-0
            li.list-inline-item= t('Having trouble?')
            li.list-inline-item
              a.alert-link(href=l('/forgot-password'))= t('Start over')
