
extends layout

block body
  .container.py-3
    .row
      .col-sm-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
        form.ajax-form.confirm-prompt(action=ctx.path, method="POST")
          input(type="hidden", name="_csrf", value=ctx.csrf)
          .card.card-bg-light
            h4.card-header.text-center= t('Contact Support')
            .card-body
              .form-group.floating-label
                input#input-email.form-control(required, name="email", type="email", value=user ? user.email : '', placeholder='name@example.com')
                label(for="input-email")= t('Email address')
              .form-group.floating-label
                textarea#input-message.form-control(rows="3", maxlength=config.supportRequestMaxLength, name="message", placeholder=t('Write your message'))
                label(for="input-message")= t('Message')
            .card-footer
              button.btn.btn-block.btn-success.btn-lg(type="submit", data-toggle="tooltip", data-placement="bottom", title=t("We'll be in contact with you!"))= t('Send message')
