
extends layout

block body
  .container.py-3
    .text-center: h1.my-3.py-3= t('Verify email')
    .row
      .col-sm-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
        .alert.alert-primary.text-center.mb-4!= t('Enter the verification code emailed to: <strong><span class="notranslate">%s</span></strong>', user.email)
        form.ajax-form(action=redirectTo ? `${ctx.path}?redirect_to=${redirectTo}` : ctx.path, method="POST")
          input(type="hidden", name="_csrf", value=ctx.csrf)
          .form-group.floating-label
            input#input-pin.form-control.form-control-lg.verification-form(
              type="text",
              autofocus,
              title=striptags(t('Please enter a <span class="notranslate">%d</span> digit verification code.', config.verificationPin.length)),
              inputmode='numeric',
              pattern=`[0-9]{${config.verificationPin.length}}`,
              minlength=config.verificationPin.length,
              maxlength=config.verificationPin.length,
              autocomplete="off",
              name="pin",
              placeholder=' '
            )
            label(for="input-pin")= t('Verification code')
          button.btn.btn-success.btn-block.btn-lg(type="submit")= t('Continue')
        .alert.alert-warning.mt-3.text-center
          = t("Didn't receive it?")
          = ' '
          a.alert-link(href=redirectTo ? `${ctx.path}?resend=true&redirect_to=${redirectTo}` : `${ctx.path}?resend=true`)= t('Resend now')
