
extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.d-block.text-center
          h5.card-header= t('Verify email')
          .card-body
            .card-text
              p= t('Use this verification code:')
              pre: code.display-3= pin
              p= t(`This pin expires within ${dayjs().from(dayjs(expiresAt), true)}.`)
            a.btn.btn-lg.btn-block.btn-success(href=link, role="button")= t('Verify now')
          .card-footer: small.text-muted= t('If you did not submit this request, then please reply to let us know.')
