
extends ../layout

block content
  .container.mt-3
    .card
      h5.card-header Account information updated
      .card-body
        .card-text
          p= `${user[config.passport.fields.givenName] ? user[config.passport.fields.givenName] : t('Hello')},`
          p= t(`The following changes were made to your account:`)
          ul.list-group.list-group-flush
            each change in changes
              li.list-group-item= change
          p= t('If you did not intend for this information to be updated, then please reply to let us know.')
        a.btn.btn-lg.btn-block.btn-success(href=link, role="button")= t('Change your password')
