
extends ../../layout

block body
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../../_breadcrumbs
        form(action=ctx.path, method='POST').ajax-form.confirm-prompt
          input(type='hidden', name='_method', value='PUT')
          input(type="hidden", name="_csrf", value=ctx.csrf)
          .card.card-bg-light
            h4.card-header= user.id
            .card-body
              .form-group.row
                label.control-label.col-md-4.col-form-label.text-md-right= t('First name')
                .col-md-8
                  input(type='text', name=config.passport.fields.givenName, value=result[config.passport.fields.givenName]).form-control
              .form-group.row
                label.control-label.col-md-4.col-form-label.text-md-right= t('Last name')
                .col-md-8
                  input(type='text', name=config.passport.fields.familyName, value=result[config.passport.fields.familyName]).form-control
              .form-group.row
                label.control-label.col-md-4.col-form-label.text-md-right= t('Email address')
                .col-md-8
                  input(type='email', required, name='email', value=result.email).form-control
              .form-group.row
                label.control-label.col-md-4.col-form-label.text-md-right= t('Group')
                .col-md-8
                  select(name='group', required).form-control
                    option(value='user', selected=user.group === 'user') User
                    option(value='admin', selected=user.group === 'admin') Admin
            .card-footer.text-right
              button(type='reset').btn.btn-secondary= t('Reset')
              button(type='submit').btn.btn-primary= t('Save')
