
extends ../../layout

block body
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../../_breadcrumbs
        form(action=ctx.path, method='POST').ajax-form.confirm-prompt
          input(type='hidden', name='_method', value='PUT')
          input(type="hidden", name="_csrf", value=ctx.csrf)
          .card.card-bg-light
            h4.card-header= result.id
            .card-body
              .form-group.floating-label
                input#input-first-name(type='text', name=config.passport.fields.givenName, value=result[config.passport.fields.givenName], placeholder=t('First name')).form-control
                label(for='input-first-name')= t('First name')
              .form-group.floating-label
                input#input-last-name(type='text', name=config.passport.fields.familyName, value=result[config.passport.fields.familyName], placeholder=t('Last name')).form-control
                label(for='input-last-name')= t('Last name')
              .form-group.floating-label
                input#input-email(type='email', required, name='email', value=result.email, placeholder='name@example.com').form-control
                label(for='input-email')= t('Email address')
              .form-group.floating-label
                select#input-group(name='group', required).form-control
                  option(value='user', selected=result.group === 'user') User
                  option(value='admin', selected=result.group === 'admin') Admin
                label(for='input-group')= t('Group')
              if boolean(process.env.AUTH_OTP_ENABLED) && result[config.passport.fields.otpEnabled]
                .form-check
                  input#otp-enabled(type='checkbox', name=config.passport.fields.otpEnabled, value='true' checked)
                  label(for='input-otp-enabled')= t('OTP Enabled')
            .card-footer.text-right
              button(type='reset').btn.btn-secondary= t('Reset')
              button(type='submit').btn.btn-primary= t('Save')
