extends ../layout

block body
  #modal-change-password(tabindex='-1', role='dialog').modal.fade
    .modal-dialog(role='document')
      .modal-content
        .modal-header.d-block.text-center
          h5.modal-title= t('Change password')
        form(action=ctx.path, method='POST').ajax-form.confirm-prompt.mt-3
          input(type='hidden', name='_method', value='PUT')
          input(type="hidden", name="_csrf", value=ctx.csrf)
          input(type='hidden', name='change_password', value='true')
          .modal-body
            .form-group.row
              label.control-label.col-md-4.col-form-label.text-md-right= t('Old password')
              .col-md-8
                input(type='password', name='old_password', required).form-control
            .form-group.row
              label.control-label.col-md-4.col-form-label.text-md-right= t('Password')
              .col-md-8
                input(type='password', name='password', required).form-control
            .form-group.row
              label.control-label.col-md-4.col-form-label.text-md-right= t('Confirm password')
              .col-md-8
                input(type='password', name='confirm_password', required).form-control
          .modal-footer.text-right
            button(type='button', data-dismiss='modal', aria-label=t('Cancel')).btn.btn-secondary= t('Cancel')
            button(type='submit').btn.btn-primary= t('Change password')
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../_breadcrumbs
        form(action=ctx.path, method='POST').ajax-form.confirm-prompt
          input(type='hidden', name='_method', value='PUT')
          input(type="hidden", name="_csrf", value=ctx.csrf)
          .card.card-bg-light
            h4.card-header= t('Update Profile')
            .card-body
              .form-group.row
                label.control-label.col-md-4.col-form-label.text-md-right= t('First name')
                .col-md-8
                  input(type='text', name=config.passport.fields.givenName, value=user[config.passport.fields.givenName]).form-control
              .form-group.row
                label.control-label.col-md-4.col-form-label.text-md-right= t('Last name')
                .col-md-8
                  input(type='text', name=config.passport.fields.familyName, value=user[config.passport.fields.familyName]).form-control
              .form-group.row
                label.control-label.col-md-4.col-form-label.text-md-right= t('Email address')
                .col-md-8
                  input(type='email', required, name='email', value=user.email).form-control
              .form-group.row
                label.control-label.col-md-4.col-form-label.text-md-right= t('Password')
                .col-md-8.my-auto
                  button(data-toggle='modal', data-target='#modal-change-password', type='button').btn.btn-secondary.btn-sm= t('Change password')
            .card-footer.text-right
              button(type='reset').btn.btn-secondary= t('Reset')
              button(type='submit').btn.btn-primary= t('Save')
