
extends ../layout

block body
  if !user[config.passport.fields.twoFactorEnabled]
    #modal-enable-2fa(tabindex='-1', role='dialog').modal.fade
      .modal-dialog(role='document')
        .modal-content
          .modal-header.d-block.text-center
            h5.modal-title.d-inline-block.ml-4= t('Two-Factor Recovery Keys')
            button(type='button', data-dismiss='modal', aria-label='Close').close
              span(aria-hidden='true') &times;
          .modal-body
            p= t('Recovery keys allow you to login to your account when you have lost access to your Two-Factor Authentication device or authenticator app.')
            hr
            p.text-muted.font-weight-bold= t('Backup your recovery keys before continuing')
              .container
                .row
                  label(for="two-factor-recovery-keys")= t('Recovery keys')
                  textarea(rows='4').form-control#two-factor-recovery-keys
                    = user[config.userFields.twoFactorRecoveryKeys].join('\n')
                hr
                .row
                  .col-sm
                    form(action=l('/my-account/recovery-keys'), method='POST')
                      input(type="hidden", name="_csrf", value=ctx.csrf)
                      button(type='submit').btn.btn-primary.btn-block
                        i.fa.fa-download
                        = ' '
                        = t('Download')
                  .col-sm.offset-sm-1
                    button(type='button', data-toggle="clipboard", data-clipboard-target="#two-factor-recovery-keys").btn.btn-secondary.btn-block
                      i.fa.fa-clipboard
                      = ' '
                      = t('Copy')
          .modal-footer
            .form-check
              input#recovery-keys-stored(type='checkbox', name="recovery-keys-stored", value='true' data-toggle='collapse' data-target='#recovery-key-submit').form-check-input
              label(for='recovery-keys-stored').form-check-label= t('I have stored these recovery keys in a safe place')
            #recovery-key-submit.collapse
              button(data-toggle='modal', data-target='#modal-enable-2fa-verify', data-dismiss='modal', type='button').btn.btn-primary.btn-lg.float-right= t('Continue')
    #modal-enable-2fa-verify(tabindex='-1', role='dialog').modal.overflow-auto.fade
      .modal-dialog(role='document')
        .modal-content
          .modal-header.d-block.text-center
            h5.modal-title.d-inline-block.ml-4= t('Enable Two-Factor Authentication')
            button(type='button', data-dismiss='modal', aria-label='Close').close
              span(aria-hidden='true') &times;
          .modal-body
            form(action=l('/my-account/setup-2fa'), method='POST').ajax-form.confirm-prompt
              input(type="hidden", name="_csrf", value=ctx.csrf)
              label(for='two-factor-step-one')
                b= t('Step 1: ')
                = t('Install an')
                = ' '
                a.card-link(data-toggle='modal-anchor', data-target='#authenticator-apps-modal').text-primary= t('authentication app')
                = ' '
                = t('on your device.')
              label(for='two-factor-step-two')
                b= t('Step 2: ')
                = t('Scan this QR code using the app:')
              img(src=qrcode, width=250, height=250, alt="").mx-auto.d-block
              hr
              label(for='two-factor-step-three')
                b= t('Step 3: ')
                = t('Enter the token generated from the app:')
              .form-group.floating-label
                input(type='text', name='token', required, placeholder=' ').form-control.form-control-lg#input-token
                label(for='input-token') Verification Token
              a.card-link.text-primary(data-toggle='collapse' data-target='#two-factor-token')= t('Can’t scan the QR code? Follow alternative steps')
                #two-factor-token.collapse
                  hr
                  p.text-secondary= t('Scan the following QR code in your authenticator app.')
                  .input-group.input-group-sm.floating-label.form-group
                    input(type='text', readonly, value=user[config.passport.fields.twoFactorToken]).form-control#two-factor-token
                    .input-group-append
                      button(type='button', data-toggle="clipboard", data-clipboard-target="#two-factor-token").btn.btn-primary
                        i.fa.fa-clipboard
                        = ' '
                        = t('Copy')
              hr
              button(type='submit').btn.btn-lg.btn-block.btn-primary= t('Continue')
    #authenticator-apps-modal(tabindex='-1', role='dialog').modal.fade
      .modal-dialog(role='document')
        .modal-content
          .modal-header.d-block.text-center
            h6.modal-title.d-inline-block.ml-4= t('Authentication Apps')
            button(type='button', data-dismiss='modal', aria-label='Close').close
              span(aria-hidden='true') &times;
          .modal-body.text-center
            = t('Recommendations are listed below:')
          .flex-wrap.flex-fill.text-center
            hr
            = t('Free and Open-Source Software:')
            ul.list-group.text-center
              li.list-group-item.border-0
                a(href='https://freeotp.github.io/', rel='noopener', target='_blank') FreeOTP
                ul.list-inline
                  li.list-inline-item
                    a(href='https://play.google.com/store/apps/details?id=org.fedorahosted.freeotp', rel='noopener', target='_blank').btn.btn-sm.btn-outline-secondary
                      i.fab.fa-google-play
                      = ' '
                      = t('Google Play')
                  li.list-inline-item
                    a(href='https://itunes.apple.com/us/app/freeotp-authenticator/id872559395?mt=8', rel='noopener', target='_blank').btn.btn-sm.btn-outline-secondary
                      i.fab.fa-app-store-ios
                      = ' '
                      = t('App Store')
              li.list-group-item.border-0
                a(href='https://f-droid.org/en/packages/org.shadowice.flocke.andotp', rel='noopener', target='_blank') andOTP
                ul.list-inline
                  li.list-inline-item
                    a(href='https://f-droid.org/repo/org.shadowice.flocke.andotp_28.apk', rel='noopener', target='_blank').btn.btn-sm.btn-outline-secondary
                      i.fab.fa-google-play
                      = ' '
                      = t('Google Play')
            hr
            = t('Closed-Source Software:')
            ul.list-group.text-center
              li.list-group-item.border-0
                a(href='https://authy.com/', rel='noopener', target='_blank') Authy
                ul.list-inline
                  li.list-inline-item
                    a(href='https://play.google.com/store/apps/details?id=com.authy.authy', rel='noopener', target='_blank').btn.btn-sm.btn-outline-secondary
                      i.fab.fa-google-play
                      = ' '
                      = t('Google Play')
                  li.list-inline-item
                    a(href='https://itunes.apple.com/us/app/authy/id494168017', rel='noopener', target='_blank').btn.btn-sm.btn-outline-secondary
                      i.fab.fa-app-store-ios
                      = ' '
                      = t('App Store')
              li.list-group-item.border-0.mb-2
                a(href='https://support.google.com/accounts/answer/1066447', rel='noopener', target='_blank') Google Authenticator
                ul.list-inline
                  li.list-inline-item
                    a(href='https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2', rel='noopener', target='_blank').btn.btn-sm.btn-outline-secondary
                      i.fab.fa-google-play
                      = ' '
                      = t('Google Play')
                  li.list-inline-item
                    a(href='http://appstore.com/googleauthenticator', rel='noopener', target='_blank').btn.btn-sm.btn-outline-secondary
                      i.fab.fa-app-store-ios
                      = ' '
                      = t('App Store')
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../_breadcrumbs
        if boolean(process.env.AUTH_OTP_ENABLED)
          .card.card-bg-light.mb-3
            h4.card-header= t('Two-Factor Authentication')
            .card-body
              if user[config.passport.fields.twoFactorEnabled]
                h5= t('Recovery keys')
                p= t('Recovery keys allow you to login to your account when you have lost access to your Two-Factor Authentication device or authenticator app.  Download your recovery keys and put them in a safe place to use as a last resort.')
                form(action=l('/my-account/recovery-keys'), method='POST')
                  input(type="hidden", name="_csrf", value=ctx.csrf)
                  button(type='submit').btn.btn-secondary.btn-lg= t('Download recovery keys')
                form(action=l('/my-account/setup-2fa'), method='POST').ajax-form.confirm-prompt.mt-3
                  input(type='hidden', name='_method', value='DELETE')
                  input(type="hidden", name="_csrf", value=ctx.csrf)
                  button(Type='submit').btn.btn-danger.btn-lg= t('Disable Two-Factor Authentication')
              else
                button(data-toggle='modal', data-target='#modal-enable-2fa', type='button').btn.btn-primary.btn-lg= t('Enable Two-Factor Authentication')
        .card.card-bg-light
          h4.card-header= t('API Credentials')
          .card-body
            .form-group.row
              label.control-label.col-md-4.col-form-label.text-md-right= t('API token')
              .col-md-8
                .input-group.input-group-lg
                  input(type='text', readonly, value=user[config.userFields.apiToken]).form-control#api-token
                  .input-group-append
                    button(type='button', data-toggle="clipboard", data-clipboard-target="#api-token").btn.btn-primary
                      i.fa.fa-clipboard
                      = ' '
                      = t('Copy')
                small.form-text.text-muted= t('Keep your token secure and never share it publicly')
