
extends ../layout

block body
  #modal-disable-otp.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-disable-otp-title', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header.d-block.text-center
          h4.modal-title.d-inline-block.ml-4#modal-disable-otp-title= t('Disable OTP')
          button(type='button', data-dismiss='modal', aria-label='Close').close
            span(aria-hidden='true') &times;
        .modal-body.text-center
          form(action=l(`${config.otpRoutePrefix}/disable`), method='POST').ajax-form.confirm-prompt.mb-0
            input(type="hidden", name="_csrf", value=ctx.csrf)
            if user[config.userFields.hasSetPassword]
              .form-group.floating-label
                input#input-password.form-control.form-control-lg(type="password", autocomplete="off", name="password" required)
                label(for="input-password")= t('Confirm Password')
            button.btn.btn-danger.btn-lg.btn-block(type="submit")= t('Disable OTP')
  .container-fluid.py-3
    .row
      .col
        include ../_breadcrumbs
        if boolean(process.env.AUTH_OTP_ENABLED)
          .card.card-bg-light.mb-3
            h4.card-header= t('Two-Factor Authentication')
            .card-body
              if user[config.passport.fields.otpEnabled]
                h5= t('Recovery keys')
                p= t('Recovery keys allow you to login to your account when you have lost access to your Two-Factor Authentication device or authenticator app.  Download your recovery keys and put them in a safe place to use as a last resort.')
                form(action=l('/my-account/recovery-keys'), method='POST')
                  input(type="hidden", name="_csrf", value=ctx.csrf)
                  button(type='submit').btn.btn-secondary.btn-lg= t('Download recovery keys')
                button(data-toggle='modal', data-target='#modal-disable-otp', type='button').btn.btn-danger.btn-lg.mt-3= t('Disable OTP')
              else
                h5= t('Configure One-time Password')
                p= t('One-time passwords ("OTP") allow you to add a layer of Two-Factor Authentication to your account using a device or authenticator app.  If you lose access to your device or authenticator app, then you can use a recovery key provided to you during configuration.')
                a.btn.btn-primary.btn-lg(href=l(`${config.otpRoutePrefix}/setup`), role="button", data-toggle='modal-anchor', data-target='#modal-sign-up')= t('Enable OTP')
            .card-footer.text-right
              a(href='https://en.wikipedia.org/wiki/One-time_password', rel='nofollow', target='_blank').btn.btn-dark= t('Learn more')
        .card.mb-3
          h4.card-header= t('Developer Access')
          .card-body
            .form-group.row
              label.control-label.col-md-4.col-form-label.text-md-right= t('API token')
              .col-md-8
                .input-group
                  input(type='text', readonly, value=user[config.userFields.apiToken]).form-control#api-token
                  .input-group-append
                    button(type='button', data-toggle="clipboard", data-clipboard-target="#api-token").btn.btn-primary
                      i.fa.fa-clipboard
                      = ' '
                      = t('Copy')
                small.form-text.text-muted= t('Keep your token secure and never share it publicly')
