extends ../layout

block styles
  != cacheBuster('/stylesheets/jquery.wysiwyg.css')

block body
  h1 Edit Page
  form(action='/pages/update/#{form.handle}', method='POST')
    input(type="hidden",name="_csrf", value=csrf)
    #title
      label(for="title") Page Title
      input(type='text', name="title", value=form.title, required, autofocus)
    #page_handle
      label(for="page_handle") SEO Handle
      input(type='text', name="page_handle", value=form.handle, required)
    #keywords
      label(for='meta.keywords') Meta Keywords
      input(type='text', name='meta[keywords]', value=form.meta.keywords)
    #description
      label(for='meta.description') Meta Description
      input(type='text', name='meta[description]', value=form.meta.description)
    #content
      label(for='content') Page Content
      textarea(name='content')#wysiwyg #{form.content}
      span.hidden.textarea #{form.content}
    #submit
      input(type='submit') Submit

block scripts
  != cacheBuster(['/js/libs/jquery.wysiwyg.js', '/js/mylibs/wysiwyg.js'])
